.frameWrapper,
.navBarParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameWrapper {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.navBarParent {
  height: 790px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 84px;
}
.footerBox {
  height: 88px;
  width: 1440px;
  position: relative;
  background: linear-gradient(180deg, #a2d9d1, #6eb0b6);
  display: none;
  max-width: 100%;
}
.allRightsReserved {
  width: 400px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.footer,
.syncToOtherSitesPage {
  display: flex;
  align-items: flex-start;
}
.footer {
  margin-left: -1px;
  align-self: stretch;
  background: linear-gradient(180deg, #a2d9d1, #6eb0b6);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-10xl) var(--padding-xl) var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--avatar-initialslg-size);
  color: var(--dark-gray);
  font-family: var(--typography-body1);
}
.syncToOtherSitesPage {
  width: 100%;
  position: relative;
  background-color: var(--light-gray);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 113px;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .navBarParent {
    gap: 42px 84px;
  }
  .syncToOtherSitesPage {
    gap: 56px 113px;
  }
}
@media screen and (max-width: 450px) {
  .navBarParent {
    gap: 21px 84px;
  }
  .allRightsReserved {
    font-size: var(--typography-body1-size);
  }
  .syncToOtherSitesPage {
    gap: 28px 113px;
  }
}
