@import url('https://fonts.googleapis.com/css?family=Quicksand');

#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.event {

  background-color: #A2D9D1;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled .event,
.disabled .number {
  opacity: 0%;
}

@media screen {
  .calendar {
      margin: 0px 0px 0px 10px;
      padding: 15px 20px 20px 20px;
      border-radius: 20px;
      height: auto;
      width: 65vw;
      color: #353638;
      background-color: #EBEDEC;
  }

  .month_name {
      font-weight: bold;
      font-size: calc(1rem + 1vw);
      padding: 10px;
  }
}
