

.cell {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
    height: 125px;
    padding: 0;
    width: 100%;
}

.event {

    background-color: #A2D9D1;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.disabled .event,
.disabled .number {
    opacity: 0%;
}

@media screen and (max-width: 768px) {
    .calendar {
        margin: 0px 0px 0px 10px;
        padding: 15px 20px 20px 20px;
        border-radius: 20px;
        max-width: 53.25em;
        height: auto;
        width: 65vw;
        color: #353638;
        background-color: #EBEDEC;
    }

    .month_name {
        font-weight: bold;
        font-size: calc(1rem + 1vw);
        padding: 10px;
    }
}