@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand';
}

.calendar {
    margin: 0px 0px 0px 10px;
    padding: 15px 20px 20px 20px;
    border-radius: 20px;
    /* width: 95%; */
    /* was 600 **/
    max-width: 1042px;
    height: auto;
    width: 65vw;
    color: #353638;
    background-color: #EBEDEC;
    font-family: 'Quicksand';
}

.calendar_header p,
.calendar_header button {
    display: inline-block;
}

.calendar_header {
    height: auto;
    padding: 20px;
}

.days {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.column {
    flex-basis: calc(100% / 7);
    text-align: center;
    margin-right: 10px;
}


.row .column:last-child {
    margin-right: 0;
}

.cell {
    display: flex;
    padding: 0.5em;
    cursor: pointer;
    height: 130px;

}

.chevronButton {
    padding: 5px;
    background-color: transparent;
    border: none;
}

.month_name {
    /* flex-grow: 1; */
    font-weight: bold;
    font-size: calc(1rem + 1vw);
    padding: 10px;
    display: inline;
}

.day_of_week_name {
    /** semibold **/
    font-weight: 600;
    font-size: calc(0.5rem + 1vw);
}

.inner_calendar_container {
    background-color: #FFFFFF;
    height: auto;
    border-radius: 20px;
    /* padding: 15px; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.wrapper {
    height: auto;
    padding: 20px;
}

/* don't render events that are disabled */
.disabled .event,
.disabled .number {
    opacity: 0%;
}

.number {
    text-align: left;
    margin: 0;
    /* padding-bottom: 5px; */
    font-weight: bold;
    font-size: calc(0.5rem + 1vw);
}

.event {
    background-color: #A2D9D1;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
}


/* large desktop display */


/* mobile display */
@media screen and (max-width: 768px) {
    .calendar {
        margin: 0px 0px 0px 10px;
        padding: 15px 20px 20px 20px;
        border-radius: 20px;
        /* width: 95%; */
        /* was 600 **/
        max-width: 53.25em;
        height: auto;
        width: 65vw;
        color: #353638;
        background-color: #EBEDEC;
        font-family: 'Quicksand';
    }

    .month_name {
        /* flex-grow: 1; */
        font-weight: bold;
        font-size: calc(1rem + 1vw);
        padding: 10px;
        display: inline;
    }


}